* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #161815;
    color: white;
}

hr {
    border-color: white;
}

.anclaFooter {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.anclaPr {
    text-decoration: none;
    color: white;
}

.rounded-box {
    max-width: 600px;
    padding: 40px;
}

.cursor {
    display: inline-block;
    width: 10px;
    margin-left: 2px;
    animation: blink 2s infinite;
}


@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}