* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #161815;
    color: white;
}

hr {
    border-color: white;
}

.anclaFooter {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.anclaPr {
    text-decoration: none;
    color: white;
}

.rounded-box {
    max-width: 600px;
    padding: 40px;
}

.cursor {
    display: inline-block;
    width: 10px;
    margin-left: 2px;
    animation: blink 2s infinite;
}
ul{
    list-style: none;
}
h1.display-4 {
    font-weight: bold;
    color: white; /* Cambia este color según tu paleta */
}

p.lead {
    color: #dc3545; /* Un color ligeramente más claro para el subtítulo */
}

hr.my-4 {
    border-top: 2px solid #343a40; /* Cambia el color según tu paleta */
}
.product-img {
    width: 100px; /* Tamaño deseado para las imágenes */
    height: 100px; /* Ajusta la altura según el diseño */
    object-fit: cover; /* Ajusta cómo se muestra la imagen para mantener la relación de aspecto */
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}