<div class="alert alert-dark bg-white text-white" role="alert">
    <div class="table-responsive">
        <table class="table table-bordered table-dark table-striped table-carrito">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad de articulos</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %}
                        <tr>
                            <td>{{ value.nombre }}</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <a href="{% url 'Sub' value.producto_id %}" class="btn btn-outline-light btn-sm btn-accion">-</a>
                                    </div>
                                    <span class="input-group-text">{{ value.acumulado }}</span>
                                    <div class="input-group-append">
                                        <a href="{% url 'Add' value.producto_id %}" class="btn btn-outline-light btn-sm btn-accion">+</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">
                            <div class="alert alert-dark text-center">Sin Productos</div>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">Total:</th>
                    <td>${{ total_carrito }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>

<div class="row justify-content-center btn-section">
    <div class="col-md-6 text-center mb-3">
        <a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar Carrito</a>
    </div>
    <div class="col-md-6 text-center mb-3">
        <a href="#" class="btn btn-danger">Ir a pagar</a>
    </div>
</div>
