<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load multiply %}
    <title>Pagar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="{% static 'tienda/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4>Resumen de tu compra</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Nombre</th>
                                    <th>Precio acumulado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in carrito.items %}
                                <tr>
                                    <td><img src="{{ value.imagen }}" alt="" class="product-img" style=" width: 100px; height: 100px; object-fit: cover"></td>
                                    <td>{{ value.nombre }}</td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <a href="{% url 'Sub' value.producto_id %}" class="btn btn-outline-dark btn-sm btn-accion">-</a>
                                            </div>
                                            <span class="input-group-text">{{ value.acumulado }}</span>
                                            <div class="input-group-append">
                                                <a href="{% url 'Add' value.producto_id %}" class="btn btn-outline-dark btn-sm btn-accion">+</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="3" class="text-right">Total:</th>
                                    <td>${{ total_carrito }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4>Detalles del pago</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'procesar_pago' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="text-dark" for="nombre">Nombre Completo</label>
                                <input type="text" class="form-control border border-dark" id="id_nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label class="text-dark" for="email">Correo Electrónico</label>
                                <input type="email" class="form-control border border-dark" id="id_correo" name="email" required>
                            </div>
                            <div class="form-group">
                                <label class="text-dark" for="direccion">Dirección</label>
                                <input type="text" class="form-control border border-dark" id="id_direccion" name="direccion" required>
                            </div>
                            <div class="form-group">
                                <label class="text-dark" for="tarjeta">Número de Tarjeta</label>
                                <input type="text" class="form-control border border-dark" id="id_tarjeta" name="tarjeta" required>
                            </div>
                            <div class="form-group">
                                <label class="text-dark" for="vencimiento">Fecha de Vencimiento</label>
                                <input type="text" class="form-control border border-dark" id="id_vencimiento" name="vencimiento" placeholder="MM/AA" required>
                            </div>
                            <div class="form-group">
                                <label class="text-dark" for="cvv">CVV</label>
                                <input type="text" class="form-control border border-dark" id="id_cvv" name="cvv" required>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Realizar Pago</button>
                        </form>
                        
                    </div>
                </div>

                <div class="row btn-section">
                    <div class="col-md-6 text-center">
                        <a href="{% url 'CLS' %}" class="btn btn-danger mt-3 mb-5">Limpiar Carrito</a>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="{% url 'index' %}" class="btn btn-dark mt-3 mb-5">Seguir Comprando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
