<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tienda/css/registro.css' %}">
    <title>Registro</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'tienda/js/validacionregistro.js' %}"></script>
</head>
<body>
    <form class="form-registro" id="registro">
        <h4>Cree su cuenta <span class="texto-registro">Animal</span>Shop</h4>
        <label for="nombre">Nombre</label>
        <input class="control" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required>
        <label for="apellido">Apellido</label>
        <input class="control" type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido" required>
        <label for="telefono">Telefono</label>
        <input class="control" type="text" name="telefono" id="telefono" placeholder="Ingrese su telefono" required>
        <label for="rut">Rut</label>
        <input class="control" type="text" name="rut" id="rut" placeholder="Ingrese su rut" required>
        <label for="correo">Correo</label>
        <input class="control" type="email" name="correo" id="correo" placeholder="Ingrese su correo" required>
        <label for="contraseña">Contraseña</label>
        <input class="control" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña" required>
        <input type="checkbox" name="Deacuerdo" id="Deacuerdo">
        <label id="Deacuerdo" for="Deacuerdo">Estoy de acuerdo con <a href="#">Terminos y condiciones</a></label>
        <button type="submit" class="boton" >Registrar</button>
        <p><a href="{% url 'login' %}">Iniciar sesion</a></p>
    </form>
</body>
</html>